Create a new page

<ul class="pages__controls">
    <li>
        <label>
            <span>Title</span>
            {{input
            type="text"
            placeholder="Title your page"
            value=newTitle}}
        </label>
    </li>
    <li>
        <label>
            <span>Slug</span>
            {{input
            type="text"
            placeholder="Give your page a slug"
            value=newSlug}}
        </label>
    </li>
    <li>
        <label>
            <span>Paragraph</span>
            {{input
            type="text"
            placeholder="Give your page a paragraph"
            value=newParagraph}}
        </label>
    </li>
    <li>
        <label>
            <span>Image</span>
            {{input
            type="text"
            placeholder="Give your page an image"
            value=newImage}}
        </label>
    </li>
</ul>

<div>
    <button {{action "createPage"}}>Create</button>
</div>

<div>
    {{#link-to 'pages'}}back to pages{{/link-to}}
</ul>
