<section class="blocks" id="blocksapp">
    {{#each itemController="block"}}
        <div class="block flex" {{bind-attr class="isEditing:block--editing"}}>
            <div class="block__image js-focuspoint" {{bind-attr data-focus-x=focusX}} {{bind-attr data-focus-y=focusY}}>
                <img {{bind-attr src=image}}>
            </div>
            <div class="block__content center--xy text--bordered text--center">
                <h2 class="block__title text--uppercase">{{title}}</h2>
                <p class="block__paragraph">{{paragraph}}</p>
                <button class="block__toggle-edit" {{action "toggleEdit"}}>{{#if isEditing}}Save{{else}}Edit{{/if}}</button>
            </div>
            <div class="block__controls">
                <label class="label">
                    <span>Edit image</span>
                    {{input type=text value=newImage placeholder="New image URL" action="updateImage" on="enter"}}
                </label>
                <button {{action "openModal" "modal" model}}>Edit focus point</button>
            </div>
        </div>
    {{/each}}
    {{#link-to 'blocks.new'}}new block{{/link-to}}
</section>
