<div class="block__image js-focuspoint"
    {{bind-attr data-focus-x=focusX}}
    {{bind-attr data-focus-y=focusY}}
    {{bind-attr data-image-w=imageW}}
    {{bind-attr data-image-h=imageH}}>
    <img {{bind-attr src=image}}>
</div>
